/* PHASE 1: Header */
body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  background: #eee;
}

.header {
  color: #fff;
  background: #f00;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  position: relative;
}

.header-nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-nav a {
  display: block;
  padding: 10px 20px;
}

.header-list > li:hover {
  background: #000;
}

.header-logo {
  float: left;
  font-weight: 700;
  border-right: 1px solid #ccc;
}

.header-logo:hover {
  background: #000;
}

.header-list {
  float: right;
  position: relative;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;

  /* Inline elements take minimum height, so padding has no impact
  display: inline;
  */
}
